<style>
    input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
    #languageChoice{
        width:250px;
        height:100px;
        display:inline;
        background-color:#FFBB00;
        color:	#BB5500;
        margin:0;
        font-size:35px;
        cursor:pointer;
    }
    .dropdown-menu{
        background-color:#e08d4b !important;
    }

    li a{
        color:white;
    }
</style>
<section *ngIf="status==Status.CancelBooking">
    <cancelBooking-app></cancelBooking-app>
</section>
<section *ngIf="status==Status.SearchBooking">
    <searchBooking-app></searchBooking-app>
</section>
<section *ngIf="status==Status.Schedule">
    <searchSedule-app></searchSedule-app>
</section>
<section *ngIf="status==Status.Start">
        <div id="languageChoice" (click)="translate.use('zh-tw')">{{'HOME.TAIWANESE' | translate }}</div>
        <div id="languageChoice" (click)="translate.use('en')">{{'HOME.ENGLISH' | translate }}</div>
        <div class="dropdown" style="display:inline">
            <button class="btn btn-default dropdown-toggle" style="background-color:#FFBB00;color:	#BB5500;font-size:25px;" type="button" data-toggle="dropdown">
                {{'HOME.BOOKING' | translate }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="navigateSearchBooking()">{{'HOME.SEARCHBOOKING' | translate }}</a></li>
                <li class="divider"></li>
                <li><a (click)="navigateCancelBooking()">{{'HOME.CANCELBOOKING' | translate }}</a></li>
                <li class="divider"></li>
                <li><a (click)="navigateSearchSedule()">{{'HOME.SCHEDULTSEARCH' | translate }}</a></li>
            </ul>
            <router-outlet></router-outlet>
        </div>
        <div>
        </div>
        <div style="position: fixed;top: 40%;left: 40%;">
            <h1 style="color:blue">{{'HOME.WELCOME'|translate}}</h1>
            <button (click)="enterBuyStatus()">{{'HOME.ENTERCENTER'|translate}}</button>
        </div>
</section>
<section *ngIf="status==Status.Buy">
    <button (click)="backtoStart()">{{'HOME.BACKTOSTART'|translate}}</button><br />
    去程時間<input type="text" id="destinationDate">
    去程地點:
    <select (change)="showPrice()">
        <option *ngFor="let item of destinationList.Destination;let i=index" [value]="item.destination">{{item.destination}}</option>
    </select>
    回程時間<input type="text" id="homeDate">
    回程地點
    <select (change)="showPrice()">
        <option *ngFor="let item of destinationList.Destination;let i=index" [value]="item.destination">{{item.destination}}</option>
    </select>
    <br />
    <input type="number" min="0" myIntegerOnly [(ngModel)]="numberTicket"/>
    <select (change)="showPrice()">
        <option value="adult">成人票:{{adultAmount| currency:'USD':true:'1.2-2'}}</option>
        <option value="child">兒童票:{{childAmount| currency:'USD':true:'1.2-2'}}</option>
    </select>
    <button (click)="finializePurchaseStatus()">購票</button>
</section>
<section *ngIf="status==Status.Finish">
    <button (click)="backtoStart()">回首頁</button>
    你購買了{{numberTicket}}張總共{{totalAmount}}元
</section>
